.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
    border-bottom: 1px solid #ccc;
    background-color: white;
}

.header-left {
    display: flex;
    align-items: center;
}

.logo {
    width:150px;
    height: auto;
    margin-right: 12px;
}

.text-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

h1 {
    font-size: 22px;
    margin: 0;
}

.tagline {
    font-size: 14px;
    color: gray;
}

.header-right {
    font-size: 18px;
    font-weight: bold;
}
